bin/
obj/
publish/
*.dll.js
*.js.map
*.fsx.js
*.exe
*.pdb

.vs/
.idea/
.vscode/

node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-error.log*
.pnpm-store/
.esbuild
.esbuild-cache/

.DS_Store
Thumbs.db
*.tmp
*.bak
